.edit-span {
    font-size: small;
    text-transform: lowercase;
    cursor: pointer;
}

.edit-span:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.btn-read-more {
    transition-property: background, border-radius, color, visibility; /* default: all */
    transition-duration: .5s, 2s, 5s, 1s;
}

.btn-read-more:hover {
    background: darkgrey;
    border-radius: 5em;
}

.alert {
    display: none;
}

.flex-parent {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.btn-delete-custom {
    transition: all .2s ease-in-out;
}

.btn-delete-custom:hover {
    border: 1px solid black;
    transform: scale(1.1);
}

.modal-svg {
    width: 50%;
    height: 50%;
}



