<footer class="navbar-static-bottom" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Copentech 2016</p>
            </div>
        </div>
    </div>
</footer>