
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="index.html">Home</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Partners<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="partners.html">Current Partners</a></li>
                <li class="divider"></li>
                <li><a id="a-create-partner" href="partners_add.html">Add partner</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="events.html">Upcoming</a></li>
                <li><a href="events.html?past=true">Past</a></li>
                <li class="divider"></li>
                <li><a id="a-create-event" href="events-create.html">Create event</a></li>
            </ul>
        </li>
        <li>
            <a href="contact.html">Contact</a>
        </li>
        <li>
            <a id="member" href="member_login.html">Login</a>
        </li>
    </ul>
</div>